@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'GmarketSansMedium', sans-serif;
}



@layer base {
  .iceJaram-Rg-important {
    font-family: 'iceJaram-Rg', cursive !important;
    
  }
  a, body, p, input, textarea, select, button {
    font-family: 'Pretendard-Regular', sans-serif !important

  }
}